img {
  position: absolute;
  top: 25px; /* Adjust vertical positioning */
  left: 5%; /* Position it to start over the left section */
  width: 90%; /* Span across both sections */
  z-index: 2; /* Ensures the image appears above */
  opacity: 0.175;
}
body{
    text-align: center;
    background-color:#7d0909;
    color:white;
    font-family: Papyrus;
    font-size: 22px;
}